.MemoContainer {
  flex: 1;
  padding: 20px;
}

.MemoContainer__title {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  outline: none;
}

.MemoContainer__content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: 400;
  min-height: 600px;
  border: none;
  outline: none;
}
