.black-nav {
  display: flex;
  width: 100%;
  padding-left: 30px;
  height: 100px;
  background: #333;
}

.black-nav h4 {
  color: #fff;
  font-size: 1.7rem;
}

.list {
  border-bottom: 1px solid #444;
  padding-left: 30px;
  text-align: left;
}

.list .title {
  /* border: 2px dotted red; */
  background: red;
  color: #fff;
  border-radius: 10%;
  border: 3px solid blue;
  padding: 5px;
  margin-left: 20px;
}

.list h4 {
  font-size: 1.5rem;
}

.list p {
  font-size: 1.25rem;
}

.list button {
  margin-bottom: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: center;
}

/* .modal button {
  width: 150px;
  height: 100px;
} */

.publish {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}