.App {
  display: flex;
  height: 100vh;
}

.Sidebar {
  background: #aaa;
  width: 200px;
}

.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
}

.MemoItem.selected {
  background: rgba(216, 158, 158, 0.5);
  font-weight: 600;
}

.MemoContainer {
  background: #ccc;
  flex: 1;
}

.MemoContainer__title {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.MemoContainer__content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  min-height: 600px;
}
