.App {
  display: flex;
  height: 100vh;
}

.Sidebar {
  background: #aaa;
  width: 200px;
}

.MemoItem {
  position: relative;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
  box-sizing: border-box;
}

.MemoItem.selected {
  background: rgba(158, 216, 191, 0.5);
  font-weight: 600;
}

.MemoItem_delete-button {
  background: none;
  color: red;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: none;
}

.MemoItem:hover .MemoItem_delete-button {
  display: inline-block;
}

.SidebarFooter {
  text-align: center;
  padding: 10px 0;
}

.SidebarFooter__add-button {
  background: none;
  border-radius: 100px;
  border: 2px solid #555;
  color: #555;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  cursor: pointer;
}

.MemoContainer {
  background: #ccc;
  flex: 1;
}

.MemoContainer__title {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.MemoContainer__content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  min-height: 600px;
}
